beautifulsoup4
black
fire
jinja2
joblib
lazy_import
networkx
nltk
numpy
pandas
requests
scikit-learn
scipy
sentry-sdk==0.7.10
sklearn
spacy
sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
tqdm
versioneer
wptools
